<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<div style="display: block; margin-left: 10%;">
    <p>Option 1: Send input text patterns</p>
    <input type="text" id="input">
    <button type="button" onclick="save2()">Send</button>
    <p><br>Option 2: Send customer patterns</p>
    <button type="button" onclick="buildNewTable()">Add</button>
    <button type="button" onclick="RemoveLastTable()">Remove</button>
    <button type="button" onclick="save1()">Send</button>
    <div id="visual" style="margin-top: 10px;">
    </div>

</div>
<script>
    var tablelist = [];
    function buildNewTable() {
        var body = document.getElementById("visual");
        var tb1 = document.createElement('table');

        tb1.style.float = "left";
        tb1.style.marginRight = "20px";
        tb1.style.marginTop = "20px";

        for (var i = 0; i < 8; i++) {
            var tr = tb1.insertRow();
            for (var j = 0; j < 8; j++) {
                var td = tr.insertCell();
                td.width = '40px';
                td.height = "40px";
                td.style = "background-color:lightyellow";
            }
        }
        if (tb1 != null) {
            for (var i = 0; i < tb1.rows.length; i++) {
                for (var j = 0; j < tb1.rows[i].cells.length; j++)
                    tb1.rows[i].cells[j].onclick = function () {
                        selectcell(this);
                    };
            }
        }
        tablelist.push(tb1);
        body.appendChild(tb1);
    }
    function RemoveLastTable() {
        var body = document.getElementById("visual");
        var tb = tablelist[tablelist.length-1];
        body.removeChild(tb);
        tablelist.pop();
    }
    buildNewTable();
    function selectcell(cel) {
        if (cel.style.backgroundColor == 'red')
            cel.style.backgroundColor = 'lightyellow';
        else
            cel.style.backgroundColor = 'red';
    }
    function save1() {
        var res = [];
        for (var k = 0; k < tablelist.length; k++) {
            var tb = tablelist[k];
            var tmp = [];
            if (tb != null) {
                for (var i = 0; i < tb.rows.length; i++) {
                    tmp[i] = [];
                    for (var j = 0; j < tb.rows[i].cells.length; j++) {
                        if (tb.rows[i].cells[j].style.backgroundColor == 'red')
                            tmp[i][j] = 1;
                        else
                            tmp[i][j] = 0;
                    }
                }
                res[k] = tmp;
            }
        }
        var output = handler(res);
        send_request(output);
    }
    function save2() {
        var tb = document.getElementById("input").value;
        send_request(tb);
    }
    function handler(res) {
        var output = "";
        for (var k = 0; k < res.length; k++) {
            for (var i = 0; i < res[k].length; i++) {
                for (var j = 0; j < res[k][i].length; j++)
                    output += res[k][i][j];
                output += ";";
            }
            output += ","
        }
        return output;
    }
    function send_request(res) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                alert(this.responseText);
            }
        };
        xhttp.open("GET", "http://10.33.38.101/pattern?pattern=" + res, true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
//        alert("Uploaded");
    }
</script>
</body>
</html>